.vscode
build/
**/*__pycache__/
**/*.pyc
.DS_Store
.cache/
env/
**/*.ipynb_checkpoints/
**/*.pytest_cache/
Untitled.ipynb
hydraseq.egg-INFO/
fox_eat.ipynb
fox_eat.py
toy_retina_htm_model_chat.ipynb
.vimrc
